body {
    min-height: 100%;
    height: 100vh;
    background-color: #121213;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
}

#main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #34343c;
    color: #d7dadc;
}

header .title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
}

.row-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.board {
    height: 60vmin;
    width: 50vmin;
    max-width: 350px;
    max-height: 420px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.tile {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
    color: #d7dadc;
}

.tile::before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
}

.tile.empty {
    border: 2px solid #34343c;
}

.tile.absent, .keyboard-button.absent {
    background-color: #3a3a3c;
}

.tile.correct, .keyboard-button.correct {
    background-color: #538d4e;
}

.tile.present, .keyboard-button.present {
    background-color: #b59f3b; 
}

.tile.no-state {
    background-color: #121213;
    border: 2px solid #565758;
    color: #d7dadc;
}

.example > .row-board {
    grid-template-columns: repeat(5, 40px);
    grid-gap: 4px;
}

.example > .row-board > .tile {
    width: 40px;
    height: 40px;
}

#keyboard {
    margin: 0 8px;
    user-select: none;
}

.keyboard-button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: #d7dadc;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.row-button {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-button:last-of-type {
    margin: 0;
}

.half {
    flex: 0.5;
}

.one-and-a-half {
    flex: 1.5;
    font-size: 12px;
}

.toast {
    pointer-events: none;
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: white;
    padding: 1rem 1rem;
}

.err-toast {
    pointer-events: none;
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: white;
    padding: 1rem 1rem;
    animation-name: fadeOut;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.toast-container > div {
    display: flex;
    position: absolute;
    z-index: 9000;
    transform: translate(-50%, 0);
    top: 10%;
    left: 50%;
    flex-direction: column-reverse;
}

.toast-container > div > div {
    margin: 5px;
}

.header-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #34343c;
}

.overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    justify-content: center;
    z-index: 9001;
    animation: SlideIn 150ms linear;
}

.overlay.help {
    background-color: #121213;
}

.overlay.stats {
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
}

@keyframes SlideIn {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transorm: translateY(0px);
        opacity: 1;
    }
}

.content-help {
    position: relative;
    color: #d7dadc;
    padding: 0 32px;
    max-width: 500px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-stats {
    position: relative;
    border-radius: 8px;
    border: 1px solid #1a1a1b;
    background-color: #121213;
    color: #d7dadc;
    box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
}

header.help-header {
    border: none;
    justify-content: center;
}

header.help-header > .header-button {
    position: absolute;
    right: 25px;
    user-select: none;
}

h1 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

section {
    padding: 16px;
    padding-top: 0px;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.instructions {
    font-size: 14px;
}

.examples {
    border-bottom: 1px solid #34343c;
    border-top: 1px solid #34343c;
}

.example {
    margin-top: 24px;
    margin-bottom: 24px;
}

.close-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

#statistics, #distribution {
    padding-bottom: 10px;
}

#statistics {
    display: flex;
}

#distribution {
    width: 80%;
}

.statistic-container {
    flex: 1;
}

.statistic-container .statistic {
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.05rem;
    font-variant-numeric: proportional-nums;
}

.statistic-container .label {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.graph-container {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
}

.graph-container .graph {
    width: 100%;
    height: 100%;
    padding-left: 4px;
}

.graph-container .graph .graph-bar {
    height: 100%;
    width: 0%;
    position: relative;
    background-color: #3a3a3c;
    display: flex;
    justify-content: center;
}

.graph-container .graph .num-guesses {
    font-weight: bold;
    color: #d7dadc;
}

.graph-container .graph .graph-bar.align-right {
    justify-content: flex-end;
    padding-right: 8px;
}